#about {
    width: 100%;
}

#about h3 {
    text-align: center;
    padding: 50px;
    font-size: 25px;
}

h3 span {
    color: #E46D05;
}


.box {
    /* padding: 40px; */
    background-color: transparent;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 4.5%;
    width: 90%;
    padding: 20px 0;
    overflow: hidden;
    border: transparent;
}

.box-item {
    margin-bottom: 80px;
    width: 29%;
    box-shadow: 0 0 10px  black;
    border: 1px solid black;
    height: 50vh;
    overflow: hidden;
    transition: 2s ease;
}

.box-item h2 {
    text-align: center;
    padding: 20px;
}

.box-item .img-container {
    width: 20%;
    padding: 20px;
    margin: 20px auto 0;
    /* background-color: blue; */
}

.box .box-item p {
    margin-bottom: 10px;
    padding: 20px;
    text-align: justify;
    font-size: 18px;
}

.box .box-item:hover {
    background-color: black;
    color: white;
    transform: scale(1.05);
}